/**
*  Device widths
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

*.focus {
  outline: 0 !important; }

.header {
  padding: 50px 0 50px 0; }

.portrait,
.vcard {
  float: left;
  width: 100%;
  text-align: center; }

.portrait .portrait-frame {
  display: inline-block;
  padding: 10px;
  margin: auto;
  border-radius: 50%; }

.portrait .portrait-frame .portrait-glass {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden; }
  .portrait .portrait-frame .portrait-glass > img, .portrait .portrait-frame .portrait-glass::after {
    position: absolute;
    min-height: 100%;
    min-width: 100%; }
  .portrait .portrait-frame .portrait-glass > img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .portrait .portrait-frame .portrait-glass::after {
    content: " ";
    top: 0;
    left: 0;
    display: block;
    border-radius: 50%; }

@media (min-width: 992px) {
  .portrait,
  .vcard {
    width: 50%; }
  .vcard {
    text-align: left; } }

body {
  background-color: #fff; }

header {
  background-color: #5E452B; }

.portrait .portrait-frame {
  box-shadow: 0px 1px 15px #000, 0px 1px 10px #fff inset;
  background-color: #926c43; }

.portrait .portrait-frame .portrait-glass {
  background-color: #5E452B;
  box-shadow: 0px -1px 10px #fff; }
  .portrait .portrait-frame .portrait-glass::after {
    background: transparent;
    box-shadow: 0px 1px 10px #000, 0px -1px 15px #000 inset; }
