// 着色
body {
    background-color: $body-bg-color
}

header {
    background-color: $header-bg-color;
}

.portrait {
    .portrait-frame {
        box-shadow: 0px 1px 15px #000, 0px 1px 10px #fff inset;
        background-color: lighten($header-bg-color, 15%);
    }
    .portrait-frame .portrait-glass {
        background-color: $header-bg-color;
        box-shadow: 0px -1px 10px #fff;
        &::after {
            background: transparent;
            box-shadow: 0px 1px 10px #000, 0px -1px 15px #000 inset;
        }
    }
}