// 布局
.header {
    padding: 50px 0 50px 0;
}

.portrait,
.vcard {
    float: left;
    width: 100%;
    text-align: center;
}

.portrait .portrait-frame {
    display: inline-block;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
}

.portrait .portrait-frame::before {
    content: " ";
    display: block;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

@media (min-width: $screen-sm-min) {
    .portrait,
    .vcard {}
}

@media (min-width: $screen-md-min) {
    .portrait,
    .vcard {
        width: 50%;
    }
    .vcard {
        text-align: left;
    }
}

@media (min-width: $screen-lg-min) {
    .portrait,
    .vcard {}
}