// 布局
.header {
    padding: 50px 0 50px 0;
}

.portrait,
.vcard {
    float: left;
    width: 100%;
    text-align: center;
}

.portrait {
    .portrait-frame {
        display: inline-block;
        padding: 10px;
        margin: auto;
        border-radius: 50%;
    }
    .portrait-frame .portrait-glass {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        position: relative;
        overflow: hidden;
        >img,
        &::after {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
        }
        >img {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: " ";
            top: 0;
            left: 0;
            display: block;
            border-radius: 50%;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .portrait,
    .vcard {}
}

@media (min-width: $screen-md-min) {
    .portrait,
    .vcard {
        width: 50%;
    }
    .vcard {
        text-align: left;
    }
}

@media (min-width: $screen-lg-min) {
    .portrait,
    .vcard {}
}