$theme-color:#1E1E1E;
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $theme-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.middle-box {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}